@model Vidly2.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<li>Genre: @Model.Genre</li>
<li>Release Date: @Model.DateAdded</li>
<li>Date Added: @Model.DateAdded</li>
